{% extends "base.html" %}
{% block header %}
    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand mr-auto" href="#">Logo</a>
        <a href="tel:+552144444444" class="phone-link mt-1">(21) 4444-4444</a>
      </nav>
    </header>
{% endblock %}

{% block content %}
    <div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light">
      <div class="col-md-5 p-lg-5 mx-auto my-5">
        <h1 class="display-4 font-weight-normal">Headline</h1>
        <p class="lead font-weight-normal">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur, mollitia ad! Iure repudiandae aliquam distinctio blanditiis laboriosam, et minus.</p>
        <a class="btn btn-outline-secondary" href="#services">Nossos Serviços</a>
      </div>
      <div class="product-device box-shadow d-none d-md-block"></div>
      <div class="product-device product-device-2 box-shadow d-none d-md-block"></div>
    </div>

    <div class="d-md-flex w-100 my-md-3 pl-md-3" id="services">

      <div class="col bg-dark mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center text-white overflow-hidden">
        <div class="my-3 py-3">
            <h2 class="display-5">Clínica Cardiologia</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aut incidunt culpa aliquam, dolorem eveniet reiciendis magni repellat voluptas quam sint! Rerum quidem amet quibusdam optio officiis deserunt explicabo.</p>
        </div>
        <a href="">
            <div class="bg-light box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
      </div>

      <div class="col bg-light mr-md-3 pt-3 px-3 pt-md-5 px-md-5 text-center overflow-hidden">
        <div class="my-3 p-3">
            <h2 class="display-5">Academia para Idosos</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel aut incidunt culpa aliquam, dolorem eveniet reiciendis magni repellat voluptas quam sint! Rerum quidem amet quibusdam optio officiis deserunt explicabo.</p>
        </div>
        <a href="">
            <div class="bg-dark box-shadow mx-auto" style="width: 80%; height: 300px; border-radius: 21px 21px 0 0;"></div>
        </a>
      </div>

    </div>

    <div class="container-fluid" id="contact">
        <div class="row text-center mb-4">
            <div class="col">
                <h2>Contato</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 offset-md-4">
                <div class="form-group">
                    <label for="Nome">Nome</label>
                    <input type="text" class="form-control" id="Nome">
                </div>
                <div class="form-group">
                    <label for="Email">Email</label>
                    <input type="text" class="form-control" id="Email">
                </div>
                <div class="form-group">
                    <label for="Message">Message</label>
                    <textarea class="form-control" id="Message"></textarea>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Submit</button>
            </div>
        </div>
    </div>

    <footer class="container-fluid py-5 bg-light">
      <div class="row">
        <div class="col-12 col-md text-center">
          <small class="d-block mb-3 text-muted">&copy; 2017-2018</small>
        </div>
        
      </div>
    </footer>
{% endblock %}
